<ion-header>


    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Contacts</ion-title>
        <div *ngIf="isPopup">
            <ion-buttons end>
                <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
            </ion-buttons>
        </div>

    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
        <ion-item-sliding *ngFor="let member of contacts | async">

            <ion-item>
                <ion-avatar item-left>
                    <img src="{{member.profilepic}}">
                </ion-avatar>
                <ion-label>{{member.firstName + " " + member.lastName}}</ion-label>
                <ion-checkbox *ngIf="isPopup" item-right color="dark" (click)="selectMember(member.$key)"></ion-checkbox>
            </ion-item>

            <!--
            <ion-item *ngIf="isNormal">
                <ion-avatar item-left>
                    <img src="{{member.profilepic}}">
                </ion-avatar>
                <h2>{{member.firstName + " " + member.lastName}}</h2>
            </ion-item>-->

            <ion-item-options side="left">
                <button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
        Text
      </button>
                <button ion-button color="secondary">
        <ion-icon name="call"></ion-icon>
        Call
      </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)="removeMember(member.$key)">
        <ion-icon name="close-circle"></ion-icon>
        Remove
      </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>


    <ion-fab bottom right>
        <div *ngIf="isNormal">
            <button ion-fab icon-only mini (click)="addContact()"><ion-icon name="add"></ion-icon></button>
        </div>
        <div *ngIf="isPopup">

            <button ion-fab icon-only mini (click)="addMember()"><ion-icon name="checkmark"></ion-icon></button>
        </div>
    </ion-fab>
</ion-content>