page-contacts {
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: 0 !important;
    }
}