page-profile {
    ion-item ion-label {
        margin: 0 !important;
    }
    ion-list {
        margin: 0;
        padding: 0;
    }
    ion-list-header {
        background-color: #ECECEC;
        margin: 0;
        padding: 10px 16px;
    }
    ion-item {
        padding: 0;
    }
    ion-datetime {
        padding-left: 3px !important;
    }
    .item-inner {
        border: none !important;
        padding: 0;
    }
    .placeholder-profile {
        color: #CCCCCC;
    }
    .dob-label {
        color: #000000 !important;
        padding: 10px !important;
        max-width: 50% !important;
    }
    .item-avatar {
        width: 100% !important;
        height: 100% !important;
        max-width: 100px !important; //any size
        max-height: 100px !important; //any size 
    }
    .image-block {
        padding-right: calc(50vw - 90px);
        padding-left: calc(50vw - 90px);
    }
    .padding{
            height: 180px;
    width: 180px;
    border-radius: 50%;
    }
}