<!--
  Generated template for the Meetings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Meetings</ion-title>
    </ion-navbar>


</ion-header>


<ion-content padding>


    <div padding>
        <ion-segment [(ngModel)]="meetings">
            <ion-segment-button value="host">
                As a Host
            </ion-segment-button>
            <ion-segment-button value="member">
                As a Member
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="meetings" class="meeting-list">

        <ion-list *ngSwitchCase="'host'">
            <ion-item-sliding #slidingItem *ngFor="let meeting of meetingListHost | async">
                <ion-item (click)="viewItem(meeting.$key,meeting?.teamName)">
                    <div class="date-blk">
                        <div>
                            {{meeting?.conferenceDate | amDateFormat : 'ddd'}}
                        </div>
                        <div>
                            {{meeting?.conferenceDate | amDateFormat : 'DD'}}
                        </div>
                    </div>

                    <div class="meeting-blk">
                        <h2>{{meeting?.teamName}}</h2>
                        <h3>{{meeting?.meetingTitle}}</h3>
                        <h4>{{meeting?.myTime + " " + meeting?.meetingDescription}}</h4>

                        <div class="horImgScrBlk">
                            <ion-grid>
                                <ion-row>
                                    <span *ngFor="let user of meeting.group | async" class="overlap-img">

                                        <img class="inline-images" src="{{user.profilepic}}">

                                    </span>
                                </ion-row>
                            </ion-grid>
                        </div>


                    </div>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
        Text
      </button>
                    <button ion-button color="secondary">
        <ion-icon name="calendar"></ion-icon>
        Reschedule
      </button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button color="primary">
        <ion-icon name="close"></ion-icon>
        Remove
      </button>
                </ion-item-options>
            </ion-item-sliding>
            <!--
            <ion-fab bottom right>
                <button ion-fab icon-only mini (click)="addMeeting()"><ion-icon name="add"></ion-icon></button>
            </ion-fab>-->

        </ion-list>

        <ion-list *ngSwitchCase="'member'">
            <ion-item-sliding #slidingItem *ngFor="let meeting of meetingListMember | async">
                <ion-item (click)="viewItem(meeting.$key,meeting?.teamName)">
                    <div class="date-blk">
                        <div>
                            {{meeting?.conferenceDate | amDateFormat : 'ddd'}}
                        </div>
                        <div>
                            {{meeting?.conferenceDate | amDateFormat : 'DD'}}
                        </div>
                    </div>

                    <div class="meeting-blk">
                        <h2>{{meeting?.team}}</h2>
                        <h3>{{meeting?.meetingTitle}}</h3>
                        <h4>{{meeting?.myTime + " " + meeting?.meetingDescription}}</h4>

                        <div class="horImgScrBlk">
                            <ion-grid>
                                <ion-row>
                                    <span *ngFor="let user of meeting.group | async">

                                        <img class="inline-images" src="{{user.profilepic}}">

                                    </span>
                                </ion-row>
                            </ion-grid>
                        </div>


                    </div>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
        Text
      </button>
                    <button ion-button color="secondary">
        <ion-icon name="calendar"></ion-icon>
        Reschedule
      </button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button color="primary">
        <ion-icon name="close"></ion-icon>
        Remove
      </button>
                </ion-item-options>
            </ion-item-sliding>

        </ion-list>

    </div>



</ion-content>

<ion-footer>
    <ion-fab *ngIf="isHost()" bottom right>
        <button ion-fab icon-only mini (click)="addMeeting()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-footer>