page-question-detail {
    .chat-list {
        ion-label {
            margin: 0!important;
        }
    }
    h2 {
        font-weight: bold!important;
        white-space: normal;
    }
    ion-icon {
        margin-top: 15px;
    }
}