page-orders {
    ion-card img {
        margin: auto;
        width: 15vw;
        height: 15vw;
        border-radius: 50%; // half for rounding */
        object-fit: cover;
        /* Scale the image - Center and crop image*/
        object-position: center;
        /* Center the image within the element - Center and crop image*/
    }
    ion-card {
        padding: 5px 10px;
        .al-rt {
            text-align: right;
            float: right;
        }
        .clearfix {
            clear: both;
        }
        ul.rating li ion-icon {
            font-size: 18px;
        }
        ul.rating li {
            margin: 0px !important;
            padding: 0px !important;
        }
        ul {
            margin: 0px !important;
        }
        div {
            padding: 2px !important;
            font-size: 14px !important;
            width: 100%;
            display: block;
            span {
                width: 49%;
                display: inline-block;
            }
        }
        .list-label {
            padding: 10px !important;
            font-weight: bold !important;
            font-size: 14px !important;
            color: #6f6f6f;
        }
        .bottom-status {
            border-top: 0.55px solid #eee;
            padding: 6px !important;
            span {
                width: 49%;
                display: inline-block;
            }
        }
    }
}